<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="vendor/material-components-web.min.css">
  <link rel="stylesheet" href="problem/style.css">
</head>
body
  pre
    code
      = "function Ninja () {\n  this.whoAmI = function () {\n    return this;\n  }.bind (this);\n}\nvar ninjal = new Ninja();\nvar ninja2 = {\n  whoAmI: ninjal.whoAmI\n};"
  //- .container__parent
  //-   .container.container--1
  //-     .block.block--1 Привет
  //-     .block.block--2 ПриветПривет
    //- .container.container--2
    //-   .block.block--2
    //-   .block.block--2
      //- .block.block--2 Привет
      //- .block.block--2 Привет
      //- .block.block--2 Привет
      //- .block.block--2 Привет
      //- .block.block--2 Привет
      //- .block.block--2 Привет
      //- .block.block--2 Привет
