<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="components/vendor/material-components-web.min.css">
  <link rel="stylesheet" href="components/tests/style.css">
</head>
<body class="mdc-typography mdc-theme--text-primary-on-background">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-2-desktop"></div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">
        <section class="tests">
          <h1 class="mdc-typography--title tests__title">Тесты</h1>
          <ul class="tests__items mdc-elevation--z1">
            <li class="tests__item mdc-elevation-transition">
              <a href="" class="tests__link">
                <h2 class="tests__item-title mdc-typography--subheading2">Основы Material Design</h2>
                <p class="tests__item-decription mdc-typography--body1">Для набора на МК 1 сентября 2018 года в Школе Дизайна</p>
                <i class="test__arrow-right material-icons">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="tests__item mdc-elevation-transition">
              <a href="" class="tests__link">
                <h2 class="tests__item-title mdc-typography--subheading2">Основы Material Design</h2>
                <p class="tests__item-decription mdc-typography--body1">Для набора на МК 1 сентября 2018 года в Школе Дизайна</p>
                <i class="test__arrow-right material-icons">keyboard_arrow_right</i>
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-2-desktop"></div>
    </div>
  </div>
  <script src="components/vendor/material-components-web.min.js"></script>
  <script>mdc.autoInit()</script>
</body>
</html>
