<p>Лучший результат в 98% вы показали по теме Типографика.</p>
<p>Статистика по разделам:</p>
<ul>
  <li>типографика - 98%,</li>
  <li>дизайн других методологий - 35%,</li>
  <li>фреймворки - 23%,</li>
  <li>кнопки - 15%.</li>
</ul>
