- const isNotProfi = (percentScored < profiLevel);
if isNotProfi
  <p>Профессиональным уровнем владения темой, по мнению автора теста, стоит считать показатель от #{profiLevel}%.</p>

- const isNotExpert = (percentScored > profiLevel) && (percentScored < expertLevel);
if isNotExpert
  <p>Экспертным уровнем владения темой, по мнению автора теста, стоит считать показатель от #{expertLevel}%.</p>

