.summary__recommendation
  h2.summary__subtitle.accordion__title.accordion__title--active Рекомендации
  .accordion__panel
    if (percentScored < 100)
      | !{recommendText}
    else
      p Поделитесь этим результатом! Есть много людей, которым нужны профессионалы  такого уровня и только от новых и нестандартных задач зависит ваш дальнейший рост.
