h2.summary__subtitle.accordion__title.accordion__title--active Рекомендации
.accordion__panel
  if (percentScored < 100)
    | !{recommendText}
  else
    p Не стесняйтесь поделиться этой оценкой с другими, поверьте есть много людей нуждающихся в ваших навыках!
