.summary__recommendation
  h2.summary__subtitle.accordion__title.accordion__title--active Рекомендации
  .accordion__panel
    if (percentScored < 100)
      | !{recommendText}
    else
      p Поделитесь этим результатом! Есть много людей которым нужны ваши навыки и только от этого на самом деле зависит будущий рост любого эксперта.
