- let stuff = stuffItems;
- const recommendationText = eval('`' + recommendation + '`');
.summary__recommendation.js-summary__recommendation
  h2.summary__subtitle.accordion__title.accordion__title--active Рекомендации
  .accordion__panel !{recommendationText}
