img(src=awardImageRef)
button(class=`summary__share-fb js-summary__share-fb` type=`button`) Поделиться

p Не стесняйтесь поделиться этой оценкой с другими, поверьте есть много людей нуждающихся в ваших навыках!


