img(src=`/img/` + image)
button(class=`test__share-fb js-test__share-fb` type=`button`) Поделиться

p Не стесняйтесь поделиться этой оценкой с другими, поверьте есть много людей нуждающихся в ваших навыках!


