section.summary.js-summary
  include summary/_result.pug

  if (awardImageRef)
    include summary/_sharing.pug

  if (feedback)
    include summary/_feedback.pug

  include summary/_recommendation.pug
