.tests {
  max-width: 840px;
  margin: 0 auto;
  padding: 16px;
  padding-top: 1px;

  background-color: #d1d1d1;
}

.tests__items {
  @include reset-ul;
}

.tests__title {
  padding-left: 3px;
}

.tests__item {
  position: relative;
  background-color: #fff;

  &:hover {
    z-index: 100;
    box-shadow:
      0 3px 5px -1px rgba(0,0,0,.2),
      0 6px 10px 0 rgba(0,0,0,.14),
      0 1px 18px 0 rgba(0,0,0,.12);
  }
}

.tests__item-title {
  margin: 0;
}

.tests__item-decription {
  margin: 0;
}

.tests__link {
  position: relative;
  display: block;

  padding-left: 32px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 24px;
  margin-bottom: 1px;

  text-decoration: none;
  color: inherit;

  &:hover .test__arrow-right {
    opacity: 1;
    transition: opacity .28s cubic-bezier(.4,0,.2,1);
  }
}

.test__arrow-right {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
