include ../partials/_ga.pug
title #{title} | Pumping Tests
meta(name=`description` content=description)
meta(name=`viewport` content=`width=device-width, initial-scale=1 user-scalable=no`)
link(rel=`canonical` href=canonicalUrl)
link(rel=`shortcut icon` href=`/img/favicon.png` type=`image/png`)
link(rel=`stylesheet` href=`https://unpkg.com/normalize.css@8.0.0/normalize.css`)
link(rel=`stylesheet` href=`https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500|Source+Code+Pro&amp;subset=cyrillic,cyrillic-ext,latin-ext`)
link(rel=`stylesheet` href=`https://fonts.googleapis.com/icon?family=Material+Icons`)
link(rel=`stylesheet` href=`/css/test.min.css`)
include ../partials/_og.pug
script(type=`text/javascript` src=`https://vk.com/js/api/openapi.js?157`)
