.comparing {
  display: block;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.comparing--award {
  color: yellow;
}

.comparing__numbers {
  line-height: 1;
  margin: 0;
}


.comparing__phrase {
  margin: 0;
}

.comparing__sign {
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  padding: 0 0;
  vertical-align: bottom;
}

