.login_wrapper {
  position: relative;
}

.login {
  margin: 0 auto;

  width: 280px;
}

.login--center {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  height: 300px;
}

.login__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login__form-field {
}

.login__button {
  margin-top: 24px;
}

.login__message {
  color: red;
  text-align: center;
}
