.login {
  // display: none;
  width: 280px;
  margin: 300px auto 0;
}

.login__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login__form-field {
}

.login__button {
  margin-top: 24px;
}

.login__message {
  color: red;
  text-align: center;
}
