header.mdc-top-app-bar
  .mdc-top-app-bar__row
    section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
      <a class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">#{pageTitle}</span>
    section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
      if userId
        a(class="mdc-typography--body1 mdc-theme--text-primary-on-primary js-logout" href="") ВЫХОД
      else
        a(class="mdc-typography--body1 mdc-theme--text-primary-on-primary" href="/login") ВХОД
