meta(property=`og:url`           content=canonicalUrl)
meta(property=`og:type`          content=`article`)
meta(property=`og:title`         content=title)
meta(property=`og:description`   content=description)
if image
  meta(property=`og:image`         content=`/img/` + image)
