script.
  window.fbAsyncInit = function() {
    FB.init({
      appId           : #{fbAppId},
      autoLogAppEvents: true,
      xfbml           : false,
      version         : 'v3.0'
    });
    const event = new Event(`fbApiInit`);
    document.dispatchEvent(event);
    window.isfbApiInited = true;

    FB.AppEvents.logPageView();
  };
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return};
    js = d.createElement(s); js.id = id;
    js.src = `https://connect.facebook.net/ru_RU/sdk.js`;
    fjs.parentNode.insertBefore(js, fjs);
  }(document, `script`, `facebook-jssdk`));
