.login {
  width: 280px;
  margin: 300px auto 0; }

.login__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login__button {
  margin-top: 24px; }

.login__message {
  color: red;
  text-align: center; }

.tests {
  max-width: 840px;
  margin: 0 auto;
  padding: 16px;
  padding-top: 1px;
  background-color: #d1d1d1; }

.tests__items {
  list-style: none;
  padding: 0;
  margin: 0; }

.tests__title {
  padding-left: 3px; }

.tests__item {
  position: relative;
  background-color: #fff; }
  .tests__item:hover {
    z-index: 100;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }

.tests__item-title {
  margin: 0; }

.tests__item-decription {
  margin: 0; }

.tests__link {
  position: relative;
  display: block;
  padding-left: 32px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 24px;
  margin-bottom: 1px;
  text-decoration: none;
  color: inherit; }
  .tests__link:hover .test__arrow-right {
    opacity: 1;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.test__arrow-right {
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0; }

.page__main {
  display: flex; }

.page__grid {
  flex-grow: 1; }

.container__item {
  margin-bottom: 12px; }

@media (min-width: 840px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px; }
  .container__item {
    flex-grow: 1;
    margin-right: 12px; } }

.card__primary-title {
  padding: 16px;
  padding-top: 24px; }

.card__title {
  margin: 0; }

.card__title--table {
  font-size: 20px; }

@media (min-width: 480px) {
  .card__primary-title {
    padding: 24px; }
  .card__primary-title--table {
    padding-bottom: 16px; } }

.data-table {
  display: flex;
  box-sizing: border-box;
  flex-direction: column; }
  .data-table--col-5 .data-table__col {
    width: 16%;
    margin-right: 3%; }
    .data-table--col-5 .data-table__col:first-child {
      margin-right: 11%; }
  .data-table--col-4 .data-table__col {
    width: 15%; }

.data-table__section {
  display: flex;
  flex-direction: column; }

.data-table__row {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.data-table__row--wide {
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px; }

.data-table__col {
  display: block;
  padding: 0;
  text-align: right;
  font-weight: inherit;
  line-height: 1;
  overflow: hidden; }
  .data-table__col:last-child {
    margin-right: 0px; }
  .data-table__col--left {
    text-align: left; }

@media (min-width: 480px) {
  .data-table__row {
    padding-right: 24px;
    padding-left: 24px; } }

@media (min-width: 840px) {
  .data-table__col:first-child {
    flex-grow: 1; } }

@media (max-width: 739px) {
  .mobile-drawer {
    position: absolute;
    left: 0;
    z-index: 100;
    height: 100%; } }
