@charset "UTF-8";
@-webkit-keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
            transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1); }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
            transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); } }
@keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
            transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1); }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
            transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); } }

@-webkit-keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0; }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0); } }

@keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0; }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0); } }

@-webkit-keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0); }
  to {
    opacity: 0; } }

@keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0); }
  to {
    opacity: 0; } }

.mdc-ripple-surface--test-edge-var-bug {
  --mdc-ripple-surface-test-edge-var: 1px solid #000;
  visibility: hidden; }

.mdc-ripple-surface--test-edge-var-bug::before {
  border: var(--mdc-ripple-surface-test-edge-var); }

.mdc-button, .info__start-test, .test__result-btn, .test__retake-btn {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.08929em;
  text-decoration: none;
  text-transform: uppercase;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: transparent;
  will-change: transform, opacity;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  /* @alternate */
  line-height: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px; }

.mdc-button::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before, .mdc-button::after, .info__start-test::after, .test__result-btn::after, .test__retake-btn::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: ""; }

.mdc-button::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before {
  transition: opacity 15ms linear;
  z-index: 1; }

.mdc-button.mdc-ripple-upgraded::before, .mdc-ripple-upgraded.info__start-test::before, .mdc-ripple-upgraded.test__result-btn::before, .mdc-ripple-upgraded.test__retake-btn::before {
  -webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
          transform: scale(var(--mdc-ripple-fg-scale, 1)); }

.mdc-button.mdc-ripple-upgraded::after, .mdc-ripple-upgraded.info__start-test::after, .mdc-ripple-upgraded.test__result-btn::after, .mdc-ripple-upgraded.test__retake-btn::after {
  top: 0;
  /* @noflip */
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

.mdc-button.mdc-ripple-upgraded--unbounded::after, .mdc-ripple-upgraded--unbounded.info__start-test::after, .mdc-ripple-upgraded--unbounded.test__result-btn::after, .mdc-ripple-upgraded--unbounded.test__retake-btn::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0); }

.mdc-button.mdc-ripple-upgraded--foreground-activation::after, .mdc-ripple-upgraded--foreground-activation.info__start-test::after, .mdc-ripple-upgraded--foreground-activation.test__result-btn::after, .mdc-ripple-upgraded--foreground-activation.test__retake-btn::after {
  -webkit-animation: 225ms mdc-ripple-fg-radius-in forwards, 75ms mdc-ripple-fg-opacity-in forwards;
          animation: 225ms mdc-ripple-fg-radius-in forwards, 75ms mdc-ripple-fg-opacity-in forwards; }

.mdc-button.mdc-ripple-upgraded--foreground-deactivation::after, .mdc-ripple-upgraded--foreground-deactivation.info__start-test::after, .mdc-ripple-upgraded--foreground-deactivation.test__result-btn::after, .mdc-ripple-upgraded--foreground-deactivation.test__retake-btn::after {
  -webkit-animation: 150ms mdc-ripple-fg-opacity-out;
          animation: 150ms mdc-ripple-fg-opacity-out;
  -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
          transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); }

.mdc-button::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before, .mdc-button::after, .info__start-test::after, .test__result-btn::after, .test__retake-btn::after {
  top: calc(50% - 100%);
  /* @noflip */
  left: calc(50% - 100%);
  width: 200%;
  height: 200%; }

.mdc-button.mdc-ripple-upgraded::after, .mdc-ripple-upgraded.info__start-test::after, .mdc-ripple-upgraded.test__result-btn::after, .mdc-ripple-upgraded.test__retake-btn::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%); }

.mdc-button::-moz-focus-inner, .info__start-test::-moz-focus-inner, .test__result-btn::-moz-focus-inner, .test__retake-btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mdc-button:active, .info__start-test:active, .test__result-btn:active, .test__retake-btn:active {
  outline: none; }

.mdc-button:hover, .info__start-test:hover, .test__result-btn:hover, .test__retake-btn:hover {
  cursor: pointer; }

.mdc-button:disabled, .info__start-test:disabled, .test__result-btn:disabled, .test__retake-btn:disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none; }

.mdc-button:not(:disabled), .info__start-test:not(:disabled), .test__result-btn:not(:disabled), .test__retake-btn:not(:disabled) {
  background-color: transparent; }

.mdc-button:not(:disabled), .info__start-test:not(:disabled), .test__result-btn:not(:disabled), .test__retake-btn:not(:disabled) {
  color: #95b3b3;
  /* @alternate */
  color: var(--mdc-theme-primary, #95b3b3); }

.mdc-button::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before, .mdc-button::after, .info__start-test::after, .test__result-btn::after, .test__retake-btn::after {
  background-color: #95b3b3; }

@supports not (-ms-ime-align: auto) {
  .mdc-button::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before, .mdc-button::after, .info__start-test::after, .test__result-btn::after, .test__retake-btn::after {
    /* @alternate */
    background-color: var(--mdc-theme-primary, #95b3b3); } }

.mdc-button:hover::before, .info__start-test:hover::before, .test__result-btn:hover::before, .test__retake-btn:hover::before {
  opacity: 0.08; }

.mdc-button:not(.mdc-ripple-upgraded):focus::before, .info__start-test:not(.mdc-ripple-upgraded):focus::before, .test__result-btn:not(.mdc-ripple-upgraded):focus::before, .test__retake-btn:not(.mdc-ripple-upgraded):focus::before, .mdc-button.mdc-ripple-upgraded--background-focused::before, .mdc-ripple-upgraded--background-focused.info__start-test::before, .mdc-ripple-upgraded--background-focused.test__result-btn::before, .mdc-ripple-upgraded--background-focused.test__retake-btn::before {
  transition-duration: 75ms;
  opacity: 0.24; }

.mdc-button:not(.mdc-ripple-upgraded)::after, .info__start-test:not(.mdc-ripple-upgraded)::after, .test__result-btn:not(.mdc-ripple-upgraded)::after, .test__retake-btn:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear; }

.mdc-button:not(.mdc-ripple-upgraded):active::after, .info__start-test:not(.mdc-ripple-upgraded):active::after, .test__result-btn:not(.mdc-ripple-upgraded):active::after, .test__retake-btn:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.32; }

.mdc-button.mdc-ripple-upgraded, .mdc-ripple-upgraded.info__start-test, .mdc-ripple-upgraded.test__result-btn, .mdc-ripple-upgraded.test__retake-btn {
  --mdc-ripple-fg-opacity: 0.32; }

.mdc-button .mdc-button__icon, .info__start-test .mdc-button__icon, .test__result-btn .mdc-button__icon, .test__retake-btn .mdc-button__icon, .mdc-button .test__icon, .info__start-test .test__icon, .test__result-btn .test__icon, .test__retake-btn .test__icon {
  /* @noflip */
  margin-left: 0;
  /* @noflip */
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top; }

[dir="rtl"] .mdc-button .mdc-button__icon, [dir="rtl"] .info__start-test .mdc-button__icon, [dir="rtl"] .test__result-btn .mdc-button__icon, [dir="rtl"] .test__retake-btn .mdc-button__icon, [dir="rtl"] .mdc-button .test__icon, [dir="rtl"] .info__start-test .test__icon, [dir="rtl"] .test__result-btn .test__icon, [dir="rtl"] .test__retake-btn .test__icon, .mdc-button .mdc-button__icon[dir="rtl"], .info__start-test .mdc-button__icon[dir="rtl"], .test__result-btn .mdc-button__icon[dir="rtl"], .test__retake-btn .mdc-button__icon[dir="rtl"], .mdc-button [dir="rtl"].test__icon, .info__start-test [dir="rtl"].test__icon, .test__result-btn [dir="rtl"].test__icon, .test__retake-btn [dir="rtl"].test__icon {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: 0; }

.mdc-button svg.mdc-button__icon, .info__start-test svg.mdc-button__icon, .test__result-btn svg.mdc-button__icon, .test__retake-btn svg.mdc-button__icon, .mdc-button svg.test__icon, .info__start-test svg.test__icon, .test__result-btn svg.test__icon, .test__retake-btn svg.test__icon {
  fill: currentColor; }

.mdc-button--raised .mdc-button__icon, .info__start-test .mdc-button__icon, .test__result-btn .mdc-button__icon, .test__retake-btn .mdc-button__icon, .mdc-button--raised .test__icon, .info__start-test .test__icon, .test__result-btn .test__icon, .test__retake-btn .test__icon,
.mdc-button--unelevated .mdc-button__icon,
.mdc-button--unelevated .test__icon,
.mdc-button--outlined .mdc-button__icon,
.mdc-button--outlined .test__icon {
  /* @noflip */
  margin-left: -4px;
  /* @noflip */
  margin-right: 8px; }

[dir="rtl"] .mdc-button--raised .mdc-button__icon, [dir="rtl"] .info__start-test .mdc-button__icon, [dir="rtl"] .test__result-btn .mdc-button__icon, [dir="rtl"] .test__retake-btn .mdc-button__icon, [dir="rtl"] .mdc-button--raised .test__icon, [dir="rtl"] .info__start-test .test__icon, [dir="rtl"] .test__result-btn .test__icon, [dir="rtl"] .test__retake-btn .test__icon, .mdc-button--raised .mdc-button__icon[dir="rtl"], .info__start-test .mdc-button__icon[dir="rtl"], .test__result-btn .mdc-button__icon[dir="rtl"], .test__retake-btn .mdc-button__icon[dir="rtl"], .mdc-button--raised [dir="rtl"].test__icon, .info__start-test [dir="rtl"].test__icon, .test__result-btn [dir="rtl"].test__icon, .test__retake-btn [dir="rtl"].test__icon, [dir="rtl"]
.mdc-button--unelevated .mdc-button__icon, [dir="rtl"]
.mdc-button--unelevated .test__icon,
.mdc-button--unelevated .mdc-button__icon[dir="rtl"],
.mdc-button--unelevated [dir="rtl"].test__icon, [dir="rtl"]
.mdc-button--outlined .mdc-button__icon, [dir="rtl"]
.mdc-button--outlined .test__icon,
.mdc-button--outlined .mdc-button__icon[dir="rtl"],
.mdc-button--outlined [dir="rtl"].test__icon {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: -4px; }

.mdc-button--raised, .info__start-test, .test__result-btn, .test__retake-btn,
.mdc-button--unelevated {
  padding: 0 16px 0 16px; }

.mdc-button--raised:disabled, .info__start-test:disabled, .test__result-btn:disabled, .test__retake-btn:disabled,
.mdc-button--unelevated:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.37); }

.mdc-button--raised:not(:disabled), .info__start-test:not(:disabled), .test__result-btn:not(:disabled), .test__retake-btn:not(:disabled),
.mdc-button--unelevated:not(:disabled) {
  background-color: #95b3b3; }

@supports not (-ms-ime-align: auto) {
  .mdc-button--raised:not(:disabled), .info__start-test:not(:disabled), .test__result-btn:not(:disabled), .test__retake-btn:not(:disabled),
  .mdc-button--unelevated:not(:disabled) {
    /* @alternate */
    background-color: var(--mdc-theme-primary, #95b3b3); } }

.mdc-button--raised:not(:disabled), .info__start-test:not(:disabled), .test__result-btn:not(:disabled), .test__retake-btn:not(:disabled),
.mdc-button--unelevated:not(:disabled) {
  color: #202020;
  /* @alternate */
  color: var(--mdc-theme-on-primary, #202020); }

.mdc-button--raised::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before, .mdc-button--raised::after, .info__start-test::after, .test__result-btn::after, .test__retake-btn::after,
.mdc-button--unelevated::before,
.mdc-button--unelevated::after {
  background-color: #202020; }

@supports not (-ms-ime-align: auto) {
  .mdc-button--raised::before, .info__start-test::before, .test__result-btn::before, .test__retake-btn::before, .mdc-button--raised::after, .info__start-test::after, .test__result-btn::after, .test__retake-btn::after,
  .mdc-button--unelevated::before,
  .mdc-button--unelevated::after {
    /* @alternate */
    background-color: var(--mdc-theme-on-primary, #202020); } }

.mdc-button--raised:hover::before, .info__start-test:hover::before, .test__result-btn:hover::before, .test__retake-btn:hover::before,
.mdc-button--unelevated:hover::before {
  opacity: 0.04; }

.mdc-button--raised:not(.mdc-ripple-upgraded):focus::before, .info__start-test:not(.mdc-ripple-upgraded):focus::before, .test__result-btn:not(.mdc-ripple-upgraded):focus::before, .test__retake-btn:not(.mdc-ripple-upgraded):focus::before, .mdc-button--raised.mdc-ripple-upgraded--background-focused::before, .mdc-ripple-upgraded--background-focused.info__start-test::before, .mdc-ripple-upgraded--background-focused.test__result-btn::before, .mdc-ripple-upgraded--background-focused.test__retake-btn::before,
.mdc-button--unelevated:not(.mdc-ripple-upgraded):focus::before,
.mdc-button--unelevated.mdc-ripple-upgraded--background-focused::before {
  transition-duration: 75ms;
  opacity: 0.12; }

.mdc-button--raised:not(.mdc-ripple-upgraded)::after, .info__start-test:not(.mdc-ripple-upgraded)::after, .test__result-btn:not(.mdc-ripple-upgraded)::after, .test__retake-btn:not(.mdc-ripple-upgraded)::after,
.mdc-button--unelevated:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear; }

.mdc-button--raised:not(.mdc-ripple-upgraded):active::after, .info__start-test:not(.mdc-ripple-upgraded):active::after, .test__result-btn:not(.mdc-ripple-upgraded):active::after, .test__retake-btn:not(.mdc-ripple-upgraded):active::after,
.mdc-button--unelevated:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.16; }

.mdc-button--raised.mdc-ripple-upgraded, .mdc-ripple-upgraded.info__start-test, .mdc-ripple-upgraded.test__result-btn, .mdc-ripple-upgraded.test__retake-btn,
.mdc-button--unelevated.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.16; }

.mdc-button--raised, .info__start-test, .test__result-btn, .test__retake-btn {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }

.mdc-button--raised:hover, .info__start-test:hover, .test__result-btn:hover, .test__retake-btn:hover, .mdc-button--raised:focus, .info__start-test:focus, .test__result-btn:focus, .test__retake-btn:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.mdc-button--raised:active, .info__start-test:active, .test__result-btn:active, .test__retake-btn:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.mdc-button--raised:disabled, .info__start-test:disabled, .test__result-btn:disabled, .test__retake-btn:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.mdc-button--outlined {
  border-style: solid;
  padding: 0 14px 0 14px;
  border-width: 2px;
  line-height: 32px; }

.mdc-button--outlined:disabled {
  border-color: rgba(0, 0, 0, 0.37); }

.mdc-button--outlined.mdc-button--dense {
  line-height: 27px; }

.mdc-button--outlined:not(:disabled) {
  border-color: #95b3b3;
  /* @alternate */
  border-color: var(--mdc-theme-primary, #95b3b3); }

.mdc-button--dense {
  height: 32px;
  font-size: .8125rem;
  line-height: 32px; }

.mdc-typography {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.mdc-typography--headline1 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 300;
  letter-spacing: -0.01563em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--headline2 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.00833em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--headline3 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 3rem;
  line-height: 3.125rem;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--headline4 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.00735em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--headline5 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--headline6 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--subtitle1 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--subtitle2 {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.00714em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--body1, .info__block p, .info__block ul, .summary__feedback p, .summary__recommendation p, .summary__recommendation ul, .question__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--body2, .question__option {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--caption, .test__retake-message {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
  text-decoration: inherit;
  text-transform: inherit; }

.mdc-typography--button {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.08929em;
  text-decoration: none;
  text-transform: uppercase; }

.mdc-typography--overline {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.16667em;
  text-decoration: none;
  text-transform: uppercase; }

html {
  font-size: 16px; }

body {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  color: #202020;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  overflow-y: scroll; }

.body__unvisible {
  opacity: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent; }

p {
  margin: 0; }

a {
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/*Для проекта*/
.no-wrap {
  white-space: nowrap; }

.typography--body {
  font-size: fsz(mobile, body);
  line-height: 1.35;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, body)/2; }

.typography--h3 {
  font-size: fsz(mobile, h3);
  line-height: 1.35;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, h3); }

.typography--h2 {
  font-size: fsz(mobile, h2);
  line-height: 1.35;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, h2); }

.typography--h1 {
  font-size: fsz(mobile, h1);
  line-height: 1.35;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, h1)/2; }

.typography--d1 {
  font-size: fsz(mobile, d1);
  line-height: 1.2;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, d1)/2; }

.typography--d2 {
  font-size: fsz(mobile, d2);
  line-height: 1.2;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, d2)/2; }

.typography--d3 {
  font-size: fsz(mobile, d3);
  line-height: 1.2;
  font-weight: normal;
  color: inherit;
  margin-bottom: fsz(mobile, d3)/2; }

@media (min-width: 840px) {
  .typography--body {
    font-size: fsz(desktop, body);
    line-height: 1.3;
    font-weight: normal;
    color: inherit;
    margin-bottom: fsz(desktop, body)/2; }
  .typography--h3 {
    font-size: fsz(desktop, h3);
    line-height: 1.3;
    font-weight: normal;
    color: inherit;
    margin-bottom: fsz(desktop, h3); }
  .typography--h2 {
    font-size: fsz(desktop, h2);
    line-height: 1.3;
    font-weight: normal;
    color: inherit; }
  .typography--h1 {
    font-size: fsz(desktop, h1);
    line-height: 1.3;
    font-weight: normal;
    color: inherit;
    margin-bottom: fsz(desktop, h1)/2; }
  .typography--d1 {
    font-size: fsz(desktop, d1);
    line-height: 1.2;
    font-weight: normal;
    color: inherit;
    margin-bottom: fsz(desktop, d1)/2; }
  .typography--d2 {
    font-size: fsz(desktop, d2);
    line-height: 1.2;
    font-weight: normal;
    color: inherit;
    margin-bottom: fsz(desktop, d2)/2; }
  .typography--d3 {
    font-size: fsz(desktop, d3);
    line-height: 1.2;
    font-weight: normal;
    color: inherit;
    margin-bottom: fsz(desktop, d3)/2; } }

.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 698px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: none;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.header__info-btn {
  display: inline-block;
  vertical-align: middle; }

@media (min-width: 480px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem; } }

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 698px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 2rem;
  overflow: hidden; }

@media (min-width: 480px) {
  .main {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 6rem; } }

.info__container--on ~ .info__second-block {
  display: none; }

.info__container--on .info {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s; }

.info__container--on .info__block {
  box-sizing: border-box;
  width: 100%;
  max-width: 698px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 2rem; }

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 100;
  opacity: 0;
  background-color: #fff;
  transition: 0.4s; }

.info__block {
  height: 0;
  overflow: hidden; }

.info__block p {
  margin-bottom: 1rem; }

.info__block p:last-child {
  margin-bottom: 0; }

.info__block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem; }

.info__block ul li {
  margin-bottom: 0.375rem; }

.info__block ul li:last-child {
  margin-bottom: 0; }

.info__btn {
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.info__btn:focus {
  outline: none; }

.info__btn i {
  display: block;
  font-size: 37px;
  margin-left: -2px; }

.info__overline {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.16667em;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 1; }

.info__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit;
  margin-top: 0.5rem;
  margin-bottom: 1rem; }

.info__start-test {
  display: block;
  margin-top: 4rem;
  margin-bottom: 3rem;
  line-height: normal; }

@media (min-width: 480px) {
  .info__container--on .info__block {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5rem;
    padding-bottom: 7.5rem; }
  .info__title {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.00735em;
    text-decoration: inherit;
    text-transform: inherit;
    margin-bottom: 1.5rem; } }

.summary {
  margin-top: 1.5rem; }

.summary__result {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #638a8a; }

.summary__result--award {
  color: #d4a45b; }

.summary__conclusion {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem; }

.summary__percent {
  line-height: 1; }

.summary__sign {
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  padding: 0 0;
  vertical-align: bottom; }

.summary__share {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.summary__feedback p {
  margin-bottom: 1rem; }

.summary__feedback p:last-child {
  margin-bottom: 0; }

.summary__subtitle {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: inline-block;
  margin-bottom: 0.75rem; }

.summary__recommendation {
  margin-top: 1.75rem; }

.summary__recommendation p {
  margin-bottom: 1rem; }

.summary__recommendation p:last-child {
  margin-bottom: 0.5rem; }

.summary__recommendation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem; }

.summary__recommendation ul li {
  margin-bottom: 0.375rem; }

.summary__recommendation ul li:last-child {
  margin-bottom: 0; }

@media (min-width: 480px) {
  .summary {
    margin-top: 1.75rem; }
  .summary__result {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit;
    font-family: 'Roboto Condensed', sans-serif; }
  .summary__subtitle {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit; } }

.test__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit;
  margin-bottom: 0.5rem; }

.test__tag {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.16667em;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 1;
  margin-bottom: 0.25rem; }

.test__lead-text {
  margin-bottom: 1.75rem; }

.test__lead-text p {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-bottom: 1rem; }

.test__lead-text p:last-child {
  margin-bottom: 0; }

.test__lead-text--hidden {
  display: none; }

.test__subtitle {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem; }

.test__subtitle--checking {
  display: none; }

.test__questions {
  list-style: none;
  padding: 0;
  margin: 0; }

.test__questions--done {
  pointer-events: none; }

.test__result-btn--visible {
  display: inline-flex; }

.test__result-btn {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  line-height: normal; }

.test__retake-btn {
  margin-bottom: 0.5rem;
  line-height: normal; }

.test__retake-message {
  width: 250px; }

.test__retake-btn[disabled] .test__retake-message {
  display: none; }

.test__retake-block {
  display: none;
  margin-top: 4.5rem;
  margin-bottom: 3rem; }

.test__retake-block--visible {
  display: block; }

.test__social {
  display: none;
  margin-left: -3px;
  padding: 3px; }

.test__social--visible {
  display: block; }

.test--is-checked .test__lead-text {
  display: none; }

.test--is-checked .test__subtitle--checking {
  display: inline-block; }

@media (min-width: 480px) {
  .test__title {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.00735em;
    text-decoration: inherit;
    text-transform: inherit;
    margin-bottom: 0.75rem; }
  .test__lead-text p {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
    font-weight: 400; }
  .test__subtitle {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit; } }

.question {
  display: block;
  border-top: 1px solid transparent;
  margin-bottom: 2.5rem; }

.question:last-child {
  margin-bottom: 0; }

.question--wrong .question__title {
  color: #B00020; }

.question--wrong .question__options {
  color: #B00020; }

.question__code {
  padding: 28px 24px;
  margin: 20px 0;
  line-height: 1.25;
  font-size: 15px;
  background-color: #e2eaea;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.question__options {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 22px; }

.question__option {
  position: relative;
  padding-top: 0.9rem;
  padding-bottom: 0.4rem;
  margin-bottom: 0; }

.question__option:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(32, 32, 32, 0.2); }

.question__option:hover {
  color: #567878;
  cursor: pointer; }

.question__option:hover:after {
  background-color: #567878; }

.question__option--is-checked:before {
  content: "✓";
  display: block;
  position: absolute;
  font-weight: bold;
  left: -18px;
  top: 15px; }

@media (min-width: 480px) {
  .question__code {
    font-size: 16px; } }

.accordion__title {
  cursor: pointer;
  position: relative;
  transition: color 0.2s; }

.accordion__title:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 2px;
  border-bottom: 1px dashed #606060; }

.accordion__title:hover {
  color: #606060; }

.accordion__title--active {
  cursor: text; }

.accordion__title--active:after {
  border-bottom: none; }

.accordion__title--active:hover {
  color: #202020; }

.accordion__panel {
  overflow: hidden;
  transition: max-height 0.3s ease-out; }

.fb-btn {
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
  text-decoration: inherit;
  text-transform: inherit;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  background-color: #4267B2;
  border-radius: 3px; }

.fb-btn:focus {
  outline: none; }

.fb-btn--like {
  position: relative;
  margin-right: 8px;
  padding-left: 24px; }

.fb-btn__like-icon {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 12px;
  height: 11px;
  fill: #fff; }
