.accordion__title {
  cursor: pointer;
  position: relative;
  transition: color 0.2s;

  &:after {
    @include pseudo;
    width: 100%;
    right: 0;
    bottom: 2px;

    border-bottom: 1px dashed $c-main-light;
  }

  &:hover {
   color: $c-main-light;
  }
}

.accordion__title--active {
  cursor: text;

  &:after {
    border-bottom: none;
  }

  &:hover {
   color: $c-main;
  }
}

.accordion__panel {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

// .accordion__title--active + .accordion__panel {
//   max-height: none;
// }

