.comparing {
  display: block;
  text-align: center;
  color: $material-color-primary-800;

  &.comparing--award {
    color: $material-color-secondary-500;
  }

  & .comparing__numbers {
    line-height: 1;
    margin: 0;
  }

  & .comparing__phrase {
    line-height: 1;
    margin: 0;
  }

  & .comparing__sign {
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    padding: 0 0;
    vertical-align: bottom;
  }
}

