.header {
  @include container;
  max-width: none;
  min-height: 1rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header__info-btn {
  display: inline-block;
  vertical-align: middle;
}

@media #{$tablet-width} {
  .header {
    @include container--tablet;

    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
