$device-type: mobile;

.question {
  display: block;
  border-top: 1px solid transparent;
	margin-bottom: fsz($device-type, body)*3;

	&:last-child {
		margin-bottom: 0;
	}
}

.question--wrong {
  & .question__title {
    color: $material-color-error;
  }

  & .question__options {
    color: $material-color-error;
  }
}

.question__title {
	margin-bottom: 0;
}

.question__code {
  padding: 28px 24px;
  margin: 20px 0;

  line-height: 1.25;
  font-size: 15px;

  background-color: $material-color-primary-200;
  // background-color: rgb(239, 244, 248);
  overflow: auto;
  user-select: none;
}

.question__options {
	@include reset-ul;

	margin-left: 22px;
}

.question__option {
	position: relative;

	padding-top: fsz($device-type, body);
	padding-bottom: fsz($device-type, body)/3;
  margin-bottom: 0;

	&:last-child {
		margin-bottom: 0;
	}

	&:after {
		@include pseudo();
		left: 0;
		bottom: 0;

		width: 100%;
		height: 1px;

		background-color: $c-grey;
	}

	&:hover {
		color: $material-color-primary-900;
		cursor: pointer;

		&:after {
			background-color: $material-color-primary-900;
		}
	}
}

.question__option--is-checked {
	&:before {
		@include pseudo(block, absolute, '✓');
    font-weight: bold;

		left: -20px;
		top: 16px;
	}
}

@media #{$desktop-width} {
	$device-type: desktop;

	.question {
		margin-bottom: fsz($device-type, body)*3;
	}

  .question__code {
    font-size: 16px;
  }

	.question__option {
		padding-top: fsz($device-type, body);
		padding-bottom: fsz($device-type, body)/3;
	}
}
