$device-type: mobile;

.question {
  display: block;
	margin-bottom: fsz($device-type, p)*3;

	&:last-child {
		margin-bottom: 0;
	}
}

.question--wrong {
	color: $c-accent;
}

.question__title {
	@include font(fsz($device-type, h3), 1.4);
}

.question__options {
	@include reset-ul;

	margin-left: 17px;
}

.question__option {
	position: relative;

	padding-top: fsz($device-type, p);
	padding-bottom: fsz($device-type, p)/3;

	@include font(fsz($device-type, p), 1.3);

	&:last-child {
		margin-bottom: 0;
	}

	&:after {
		@include pseudo();
		left: 0;
		bottom: 0;

		width: 100%;
		height: 1px;

		background-color: $c-grey;
	}

	&:hover {
		color: $c-green;
		cursor: pointer;

		&:after {
			background-color: $c-green;
		}
	}
}

.question__option--is-checked {
	&:before {
		@include pseudo(block, absolute, '✓');
    font-weight: bold;

		left: -17px;
		top: 16px;
	}
}

@media #{$tablet-width} {
	$device-type: tablet;

}

@media #{$desktop-width} {
	$device-type: desktop;

	.question {
		margin-bottom: fsz($device-type, p)*3;
	}

	.question__title {
		@include font(fsz($device-type, h3), 1.4);
	}

	.question__option {

		padding-top: fsz($device-type, p);
		padding-bottom: fsz($device-type, p)/3;

		@include font(fsz($device-type, p), 1.3);
	}
}
