$device-type: mobile;
.summary {

  & p {
    @extend .typography--h3;
  }

  & ul {
    @include reset-ul;
    @extend .typography--h3;
    @include inserted-list(fsz($device-type, h3), 24px);
  }
}

.summary__block {
  margin-right: auto;
  margin-left: auto;

  margin-top: 7%;
  margin-bottom: 12%;
}

.summary__detailed-result {
  text-align: left;
  margin: 0;
}

.summary__link {
  display: block;
   @extend .typography--h3;
   margin-bottom: fsz($device-type, d3);
}

.summary__btn {
  position: fixed;
  bottom: fsz($device-type, d3);
  right: (100% - $container-width)/2;
}

.summary__subtitle {
  display: inline-block;
  @extend .typography--h1;
}

@media #{$desktop-width} {
  $device-type: desktop;

  .summary {
    & ul {
      @include inserted-list(fsz($device-type, h3), 24px);
    }
  }

  .summary__question-title {
    margin-bottom: fsz($device-type, body);
  }

  .summary__btn {
    right: calc((100% - #{$container-max-width})/2);
  }
}
