.test__title {
  @include mdc-typography(headline5);

  margin-bottom: 0.5rem;
}

.test__tag {
  @include mdc-typography(overline);
  display: block;

  margin-bottom: 0.5rem;
  line-height: 1;
}

.test__lead-text {
  margin-bottom: 2.5rem;

  & p {
    @include mdc-typography(subtitle1);
    font-size: 1.1rem;

    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.test__lead-text--hidden {
  display: none;
}

.test__subtitle {
  @include mdc-typography(headline6);
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.test__subtitle--checking {
  display: none;
}

.test__questions {
  @include reset-ul;
}

.test__questions--done {
  pointer-events: none;
}

.test__result-btn--visible {
  display: inline-flex;
}

.test__result-btn {
  @extend .mdc-button;
  @extend .mdc-button--raised;

  margin-top: 4.5rem;
  margin-bottom: 3rem;

  line-height: normal;
}

.test__retake-btn {
  @extend .mdc-button;
  @extend .mdc-button--raised;

  margin-bottom: 0.5rem;

  line-height: normal;
}

.test__icon {
  @extend .mdc-button__icon;
}

.test__retake-message {
  @extend .mdc-typography--caption;
  width: 250px;
}

.test__retake-btn[disabled] .test__retake-message {
  display: none;
}

.test__retake-block {
  display: none;

  margin-top: 4.5rem;
  margin-bottom: 3rem;
}

.test__retake-block--visible {
  display: block;
}

.test__social {
  display: none;

  margin-left: -3px;
  padding: 3px;
}

.test__social--visible {
  display: flex;
}

.test--is-checked {
  & .test__lead-text {
    display: none;
  }

  & .test__subtitle--checking {
    display: inline-block;
  }
}

.test__like-vk {
  margin-left: 10px;
}

.test__disqus {
  display: none;
  margin-top: 5rem;
}

.test__disqus--visible {
  display: block;
}

@media #{$tablet-width} {

  .test__title {
    @include mdc-typography(headline4);

    margin-bottom: 0.75rem;
  }

  .test__lead-text {
    & p {
      @include mdc-typography(headline6);
      font-weight: 400;
    }
  }

  .test__subtitle {
    @include mdc-typography(headline5);
  }
}
