$device-type: mobile;

.test__tag {
  display: block;
  margin-bottom: 0;

	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.test__lead-text {
 position: relative;

 margin-bottom: fsz($device-type, body)*3;

 overflow: hidden;

 & p {

	 &:last-child {
	 	margin-bottom: 0;
	 }
 }
}

.test__questions {
  @include reset-ul;
  margin-bottom: fsz($device-type, h2)*3;
}

.test__questions--done {
  pointer-events: none;
}

.test__result-btn {
  // margin-top: fsz($device-type, d3);
}

.test__result-btn--visible {
  display: inline-block;
}

.test__retake-btn {
  // margin-top: fsz($device-type, d3);
  margin-bottom: fsz($device-type, d3)*2;
  display: none;
}

.test__retake-btn--visible {
  display: inline-block;
}

.test__social {
  display: none;
}

.test__social--visible {
  display: block;
}

@media #{$desktop-width} {
	$device-type: desktop;

	.test__lead-text {
	  margin-bottom: fsz($device-type, body)*3;
	}

	.test__questions {
		margin-bottom: fsz($device-type, h2)*3;
	}

  .test__result-btn {
    margin-top: fsz($device-type, d3);
  }

  .test__retake-btn {
    margin-top: fsz($device-type, d3);
  }
}
