@mixin inserted-list($pMargin, $paddingLeft) {
  margin-top: - $pMargin;
  margin-bottom: $pMargin;
  padding-left: $paddingLeft;

  & li {
    margin-bottom: $paddingLeft/4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
