<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Compare numbers</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="compare-numbers/style.css">
</head>
<body>
  <div class="container">
    <section class="comparing">
      <p class="comparing__numbers fit">
        25.4&thinsp;<i class="comparing__sign material-icons">trending_flat</i>&thinsp;45.9%
      </p>
      <p class="comparing__phrase fit">Отличный рост!</p>
      <p class="comparing__phrase fit">Профессиональный уровень!</p>
      <p class="comparing__phrase fit">Экспертный уровень!</p>

    </section>
  </div>
  <script src="compare-numbers/fitty.js"></script>
  <!-- <script>fitty('.fit', {maxSize: 130})</script> -->
</body>
</html>
