<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accordion</title>
  <link rel="stylesheet" href="accordion/style.css">
</head>
<body>
  <section class="section">
    <b class="accordion__title accordion__title--active">Section 1</b>
    <div class="accordion__panel">
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Оксмокс снова гор семантика свой что реторический подзаголовок продолжил эта дороге использовало великий языкового о, он свою языком безорфографичный власти буквоград грустный собрал щеке запятой залетают журчит. Использовало, точках, маленькая.</p>
    </div>

    <b class="accordion__title">Section 2</b>
    <div class="accordion__panel">
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
    </div>

    <b class="accordion__title">Section 3</b>
    <div class="accordion__panel">
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный необходимыми дорогу вопрос рукописи языком всеми там, за предложения.</p>
    </div>
  </section>
  <script src="accordion/js/index.js"></script>
</body>
</html>
