html {
  font-size: 16px;
}

body {
  visibility: hidden;
  min-width: 320px;
  @include mdc-typography-base;
  opacity: 0;

  color: $c-main;
<<<<<<< HEAD
  opacity: 0;
=======
>>>>>>> bag-fixes
  transition: opacity 0.5s ease-in;
  overflow-y: scroll;
}

<<<<<<< HEAD
code {
  font-size: 0.98rem;
}

.body__visible {
  opacity: 1;
=======
// для запрета прокрутки body при прелоадере
.body__visible {
  visibility: visible;
  opacity: 1;
}

.body__modal-open {
  overflow: hidden;
>>>>>>> bag-fixes
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/*Для проекта*/

.no-wrap {
  white-space: nowrap;
}


