doctype html
include partials/_head.pug
body.mdc-typography
  section.login
    p.login__message= error
    <form class="login__form" action="/login" method="POST" novalidate>
      <div class="mdc-text-field mdc-text-field--outlined login__form-field" data-mdc-auto-init="MDCTextField">
        <input type="text" id="login" class="mdc-text-field__input" name="login">
        <label for="login" class="mdc-floating-label">Your Login</label>
        <div class="mdc-text-field__outline">
          <svg>
            <path class="mdc-text-field__outline-path"/>
          </svg>
        </div>
        <div class="mdc-text-field__idle-outline"></div>
      </div>
      <div class="mdc-text-field mdc-text-field--outlined login__form-field" data-mdc-auto-init="MDCTextField">
        <input type="password" id="password" class="mdc-text-field__input" name="password">
        <label for="password" class="mdc-floating-label">Your Password</label>
        <div class="mdc-text-field__outline">
          <svg>
            <path class="mdc-text-field__outline-path"/>
          </svg>
        </div>
        <div class="mdc-text-field__idle-outline"></div>
      </div>
      <button class="mdc-button mdc-button--raised login__button">Войти</button>
    </form>

  include partials/_scripts.pug
