<section class="preloader preloader--hidden">
  <div class="preloader__block">
    <div class="preloader__lines">
      <span class="preloader__line preloader__line-1"></span>
      <span class="preloader__line preloader__line-2"></span>
      <span class="preloader__line preloader__line-3"></span>
      <span class="preloader__line preloader__line-4"></span>
      <span class="preloader__line preloader__line-5"></span>
      <span class="preloader__line preloader__line-6"></span>
      <span class="preloader__line preloader__line-7"></span>
      <span class="preloader__line preloader__line-8"></span>
      <span class="preloader__line preloader__line-9"></span>
    </div>
    <header class = "preloader__phrase">Checking</header>
  </div>
</section>
