<p class="test__tag">Результаты теста</p>
<h1 class="test__title">Вы набрали #{pointsScored} баллов</h1>
if retakesOpportunity
  <a href="/links/#{permalink}?attempt=new" onclick="location.reload();" class="mdc-button mdc-button--raised test__btn js-test__btn--result" disabled>Повторить</a>
