section.summary.js-summary
  include summary/_short-result.pug

  //- include summary/_detailed-result.pug

  if (awardImageRef)
    include summary/_sharing.pug

  include summary/_feedback.pug

  include summary/_recommendation.pug
