section.summary
  include summary/_conclusion.pug

  include summary/_pass-result.pug

  if (awardImageRef)
    include summary/_sharing.pug

  include summary/_motivation.pug

  if (percentScored < 100)
    include summary/_recommendation.pug

<label for="drawer__switcher" class="summary__questions-title typography--body">Проверенные ответы</label>
<input id ="drawer__switcher" checked type="checkbox">

